body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-image: url("https://cdn.wallpapersafari.com/74/35/4XgZhW.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: fixed;
  background-size: cover;
}

/* .container {
  background-image: url("https://cdn.wallpapersafari.com/74/35/4XgZhW.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; /* Adjust the size as needed */
/* height: 100vh; /* Set the container height to cover the viewport */
/* } */

/* Additional styling for your content */
/* .content {
  padding: 20px;
}  */

.header {
  display: flex;
}

.link {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 30px;
  transition: transform 0.3s ease-in-out;
}

.link:hover {
  color: rgb(11, 52, 13);
  cursor: pointer;
  font-size: 35px;
  height: 55px;
  margin-right: 30px;
  transition: 0.3s;
  border-radius: 5px;
  text-shadow: 3px 3px 7px rgba(255, 255, 255, 0.93);
}

h1 {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

#hoverable-div:hover {
  cursor: pointer;
}

#login-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

#store-login {
  display: flex;
  position: absolute;
  left: 500px;
  top: 300px;
}

#client-login {
  display: flex;
  position: absolute;
  right: 500px;
  top: 300px;
}

#login-message {
  border: black 4px;
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  height: '50vh';
}

footer {
  display: block;
  position: relative;
  margin-top: 1000px;
  margin-bottom: 0;
  color: white;
}

#regform {
  justify-content: center;
  display: 'flexbox';
  align-items: center;
}

#subbedclients {
  background-color: grey;
  height: 0;
  width: 20%;
  padding-bottom: 8%;
  padding-top: 4%;
  margin-left: 40%;
}


.goodsimage {
  width: 200px;
  height: 150px;
}

#account {
  background-color: grey;
  height: 0;
  width: 20%;
  padding-bottom: 20%;
  margin-left: 40%;
}

.storess {
  background-color: grey;
  height: 0;
  width: 20%;
  padding-bottom: 20%;
  margin-left: 40%;
}

#cartnav {
  right: 10px;
  position: fixed;
}

#closebtn {
  cursor: pointer;
}

#cartbtn {
  cursor: pointer;
}

#cart {
  background-color: grey;
  padding-bottom: 20%;
  margin-left: 40%;
  max-height: 300px;
  overflow-y: scroll;
}

#checkout {
  background-color: grey;
  height: 0;
  width: 20%;
  padding-bottom: 25%;
  padding-top: 2%;
  margin-left: 40%;
}

#clienttrans {
  background-color: grey;
  height: 0;
  width: 20%;
  padding-bottom: 70%;
  padding-top: 2%;
  margin-left: 40%;
}

#editgoodsbtn:hover {
  transition: color 0.5s;
  color: rgb(138, 102, 58);
}

#bio {
  box-sizing: border-box;
  width: 400px;
  height: 150px;
  resize: none;
  padding: 10px;
  text-align: start;
  word-wrap: break-word;
}

/* ----------------------------------THIS CODE BLOCK MAKES THE LOADING CIRCLES ON LOGIN------------------------start */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  background-color: none;
}

.loader {
  max-width: 15rem;
  width: 100%;
  height: auto;
  stroke-linecap: round;
}

circle {
  fill: none;
  stroke-width: 3.5;
  animation-name: preloader;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: 170px 170px;
  will-change: transform;
}

circle:nth-of-type(1) {
  stroke-dasharray: 550px;
}

circle:nth-of-type(2) {
  stroke-dasharray: 500px;
}

circle:nth-of-type(3) {
  stroke-dasharray: 450px;
}

circle:nth-of-type(4) {
  stroke-dasharray: 300px;
}

@keyframes preloader {
  50% {
    transform: rotate(360deg);
  }
}

circle:nth-of-type(1) {
  animation-delay: -0.15s;
}

circle:nth-of-type(2) {
  animation-delay: -0.3s;
}

circle:nth-of-type(3) {
  animation-delay: -0.45s;
}

circle:nth-of-type(4) {
  animation-delay: -0.6s;
}

/* ----------------------------------THIS CODE BLOCK MAKES THE LOADING CIRCLES ON LOGIN------------------------end */